.text{
	font-family: 'Spartan', sans-serif;
}

.text2 {
	font-family: 'Roboto Mono';
	font-size: 14px;
	color: #000000;
	text-align: left;
	margin-left: 5px;
	background: lightgray;
}

.orderheader {
	background-color: lightgrey !important;
}

.orderdetail {
	font-family: 'Roboto Mono';
	font-size: 12px;
	color: #000000;
	text-align: left;
	margin-left: 5px;
	background: lightcyan;
   
}

.number{
	font-family: 'Roboto Mono', monospace;
}

img.icon{
	margin-bottom: -2px;
	height: 18px;
}

.price{
	display: flex;
	align-items: center;
}

.mini{
	font-size: x-small;
	align-items: center;
	display: flex;
	padding: 3px;
}

.small{
	font-size: small;
}

.total{
	font-family:'Roboto Mono';
	margin:  auto;
}

.tbheader {
	font-family: 'Roboto Mono';
	font-size: 14px;
	font-weight: 700;
}

.tbdetail {
	font-family: 'Roboto Mono';
	font-size: 14px;
	font-weight: 400;
}

.totalsTbl {
	margin-top: 15px;
	border-bottom: solid;
	border-color: lightgray;
	border-width: 2px;
	background: lightcyan;
}

.totalsHdr {
	font-family: 'Roboto Mono' !important;
	text-align: center;
	margin-bottom: 50px;
}

.totalsHdrTitle {
	font-size:  18px;
	font-weight: 700;
}

.totalsHdrDetail {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}

.orderList {
	font-family: 'Roboto Mono' !important;
}

.orderListTitle {
	font-family: 'Roboto Mono' !important;
	font-size: 14px;
	font-weight: 600;
}

.orderListTitleDescr {
	font-size: 16px;
	font-weight: 600;
	text-align:  justify;
}

.minibutton {
	font-family: 'Spartan', sans-serif;
	font-size: 12px;
	background:  #ff5722;
	color: white;
	height: 24px;
	line-height: 20px;
	padding: 2px;
}

.spacer {
	flex: 1 1 auto;
}
