<mat-toolbar color="primary">
	<span align="center">
		<img class="logo" src="/assets/logo-new-white_01.png" height="40px" />
	</span>
	<span class="spacer"></span>
	<span align="center">
		<p class="mini text">Currency: {{ getCurrency() }}</p>
		<p class="mini text">Last block:</p>
		<p class="mini text">{{heightUpdate | async}}</p>
	</span>
	<span>
		<button mat-raised-button (click)="logout()"><mat-icon class="logbutton">logout</mat-icon></button>
	</span>
</mat-toolbar>
