<div class="container" style="font-family:  'Spartan', sans-serif;
							  margin-top: 10px;">

	<div class="askPayment">
		Scan to make payment
	</div>
	<pre></pre>
	<table style="align-content: center;">
		<tr>
			<td width="10%"></td>
			<td width="80%">
				<div id="checkout-qr"></div>
			</td>
			<td width="10%"></td>
		</tr>
    </table>

	<div style="margin-top: 10px;">
		<table cellspacing="0" 
		       width="100%">
			<tr>
				<td>
					<button mat-raised-button color="primary" (click)="confirm()">
						<mat-icon>verified_user</mat-icon>
					</button>

				</td>
				<td align="right">
					<button mat-raised-button (click)="close()">
						<mat-icon>close</mat-icon>
					</button>

				</td>
			</tr>
		</table>
	</div>
	<div style="text-align: center;
				margin-top: 10px;
				line-height: 30px;">

		Can't scan?<br>Use this <a [href]="zcashUrl">wallet link</a>, or
		<div style="display: flex;
					justify-content: space-between;">
			<button style="margin-top: 20px;
						   font-weight: 700;
						   background-color: lightgray;"
					mat-raised-button 
					(click)="copyAddress()">Copy Address</button> 
			<button style="margin-top: 20px;
						   font-weight: 700;
						   background-color: lightgray;"
					mat-raised-button 
					(click)="copyAmount()">Copy Amount</button> 
		</div>		
		<button style="margin-top: 20px;
					   font-weight: 700;
					   background-color: lightgray;"
				mat-raised-button 
				(click)="copyMemo()">Copy Memo</button> 

	</div>

</div>
