<div  class='itemDataTitle'>Add to Order</div>

<div class='container'>
	<mat-dialog-content [formGroup]="orderForm">
		<p class="text">{{lineItem.name}}</p>
		<mat-form-field [style.width.%]="100">
			<input matInput type="number" placeholder="Quantity" formControlName="qty">
		</mat-form-field>
	</mat-dialog-content>

	<div style="display: flex;
				justify-content: space-between;">
		<button mat-raised-button 
				class="text" 
				(click)="close()">Cancel</button>
		<button mat-raised-button 
				class="text" 
				color="primary" 
				(click)="save()">Add</button>
	</div>
</div>