* {
	font-family: 'Spartan', sans-serif;
}

.icon{
	font-family: 'Material Icons';
}


.shop-menu {
	font-family: Roboto, sans-serif;
}

.main-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 500;
    color: white;
    max-width: 85%;
}

.small{
	margin-top: 5px;
	font-size: 14px !important; 
}

