.text {
	font-family: 'Spartan', sans-serif;
}

mat-dialog-content {
	max-width: 400px;
}

.cancelTitle {
	font-family: 'Spartan', sans-serif;
	background: #ff5722;
	color: white;
	font-size: 26px;
	text-align: center;
	padding: 5px;
}