<div class="container" style="margin-top: 10px;">

	<div class="cancelTitle">{{title}}</div>

	<mat-dialog-content>
		<p class="text">{{msg}}</p>
	</mat-dialog-content>

	<mat-dialog-actions>
		<table cellspacing="0" width="100%">
			<tr>
				<td>
					<button mat-raised-button color="primary" (click)="confirm()">
						Yes
					</button>

				</td>
				<td align="right">
					<button mat-raised-button (click)="close()">
						No
					</button>

				</td>
			</tr>
		</table>
	</mat-dialog-actions>

</div>