.text {
	font-family: 'Spartan', sans-serif;
}

.number{
	font-family: 'Roboto Mono', monospace;
}

img.icon{
	margin-bottom: -2px;
	height: 18px;
}

.noOrderMsg {
	font-family: 'Roboto Mono';
  font-size: 20px;
  font-weight: 700;
  margin:  10px; 
  align-items: center;
  text-align: center;
}

.newOrder {
	font-family:  'Roboto Mono' !important;
}

.newOrderTitle1 {
	font-size: 19px;
	font-weight: 700;
	height: 20px;
}

.newOrderTitle2 {
	font-size: 16px;
	font-weight: 400;
	height: 18px;
}

.newOrdertbheader {
	font-size: 14px;
	font-weight: 700;
}

.newOrdertbdetail {
	font-size: 14px;
	font-weight: 400;
}

.lineTrashCan {
	cursor:  pointer;
}

.buttons-class {
	font-family: 'Spartan', sans-serif;
	background-color: #ff5722;
	color: white;
	font-weight: 500;
	height: 25px !important;
	width: 80px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: auto;
}

.button-cancel-class {
	font-family: 'Spartan', sans-serif;
	font-weight: 500;
	height: 25px !important;
	width: 80px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: auto;
}

.availableItems{
  background: lightblue;
  font-family: 'Roboto Mono';
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin: 5px;
}
