* {
	font-family: 'Spartan', sans-serif;
}
mat-card.coolcard{
	background-color: #FF5722;
	color: #FFFFFF;
	margin: 5px;
}
mat-card.centercard{
	max-width: 450px;
	border: 1px solid #CCCCCC;
}
.icon{
	font-family: 'Material Icons';
}
.bigbutton{
	display: inline-flex;
	vertical-align: middle;
	font-size: 120%;
	padding: 3px;
}
.alert-success{
	margin: 5px;
	background-color: #BBFFBB
}
.numbers{
	font-family: 'Roboto Mono', monospace;
}
::ng-deep .mat-step-label{
	font-size: 13px;
}
