<div align="center" mat-dialog-title>
<h4 class="text">Scan the QR code</h4>
</div>

<mat-dialog-content>
	<div align="center">
	<p class="text">Ensure to check the "Include Reply-To" box in your wallet before sending your memo.</p>
	<div class="qrcode" id="checkout-qr"></div>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<table cellspacing="0" width="100%">
		<tr>
			<td>
				<button mat-raised-button class="text" color="primary" (click)="confirm()">
					<mat-icon class="icon">verified_user</mat-icon>Memo Sent!
				</button>
			</td>
			<td align="right">
				<button mat-raised-button class="text" (click)="close()">
					<mat-icon class="icon">close</mat-icon>Cancel
				</button>
			</td>
		</tr>
	</table>
</mat-dialog-actions>
<div align="center">
	<p class="small text">Can't scan? Use this <a [href]="zcashUrl">wallet link</a>, or</p>
	<button class="small text" (click)="copyAddress()">Copy Address</button> 
	<button class="small text" (click)="copyAmount()">Copy Amount</button> 
	<button class="small text" (click)="copyMemo()">Copy Memo</button> 
</div>
