
.invoice {
	font-family:  Roboto Mono !important;
}

.zecSign {
	margin-bottom: -4px;
	font-size: 18px;
	height: 18px;
}

.invoiceHeader {
	display: flex;
	font-family:  Spartan;
	font-weight: 700;
	font-size: 26px;
	color: white;
	justify-content: space-between;
	line-height: 40px;
	padding: 10px;
	vertical-align: center;
	max-width: 600px;
    background: #ff5722;
}

.invoiceDetail {
	font-family:  Roboto Mono !important;
	padding: 10px;
	max-width: 600px;
}

.invoiceHdrTxt1 {
	font-family: Spartan !important;
	text-align: center; 
	font-size:  30px;
	font-weight: 700;
}

.invoiceHdrTxt2 {
	font-family: Spartan !important;
	text-align: center; 
	font-size:  16px;
	font-weight: 400;
}

.invoiceHdrTxt3 {
	font-family: Spartan !important;
	text-align: center; 
	font-size:  12px;
	font-weight: 300;
}

.detailTitle1 {
	border-top: solid 2px;
	border-bottom: solid 2px;
    border-color: navy;
    text-align: left;
}

.detailTitle2 {
	border-top: solid 2px;
	border-bottom: solid 2px;
    border-color: navy;
    text-align: right;
}

.detailLineRight {
	border-top: solid 2px;
	border-bottom: solid 2px;
	border-color: navy;
	text-align: right;
}

.detailLineLeft {
	border-top: solid 2px;
	border-bottom: solid 2px;
	border-color: navy;
	text-align: right;
}

.invoice-title {
	font-size: 16px;
	font-weight: 700;
	background: lightcyan;
	line-height: 30px;
	padding: 5px;
}

.invoice-detail {
	line-height: 20px;
	font-size: 16px;
	font-weight: 400;
	padding-top: 4px;
	padding-bottom: 4px;
}

.invoice-total {
	margin-top: 40px;
}

.qrcode {
	display: flex;
	float: right;	
}

.zecData {
	width: auto;
	font-family: Spartan !important;
	font-size: 16px;
	font-weight: 700;
	text-align: right;
}
