<div class="container" style="margin-top: 10px;">

	<div class="receipt">
		Scan for your Receipt
	</div>

	<div class="qrbody">
		<div id="receipt-qr"> </div>
	</div>

	<mat-dialog-actions>
		<button mat-raised-button class="text" (click)="close()">
			<mat-icon class="icon">close</mat-icon>Close
		</button>
	</mat-dialog-actions>


</div>