<div class="settings-title">Export Orders</div>
<div class='description'>
  Export orders in a .CSV format file
</div>  
<div class="datepicker" 
     *ngIf="ordersOk()">
  <mat-form-field appearance="fill">
  <!--
    <mat-label >Enter a date range</mat-label>
  -->
    <div class="daterange">Date range:</div>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
  <br>
  <br>
  <br>
</div>

<div class="noorders" 
     *ngIf="!ordersOk()">
  <br>
    You have no orders created.
    <br>
    Nothing to do.
  <br>  
  <br> 
  <br>  
</div>     
<br>
<br>
<div style="display: flex;
      justify-content: space-between;
      align-items: center;">
  <button mat-raised-button 
      (click)="closedbExport()">
    Close
  </button>

    <a mat-raised-button *ngIf="checkReady()" color="primary" [href]="fileUrl"        
       download="orders.csv">Download</a>

</div>
<div style="height: 20px;
      margin-top: 10px;">
</div>      
