<main>
	<router-outlet></router-outlet>
</main>
<mat-divider></mat-divider>
<div class="footer" align="center">
  <p>&copy; 2022 Vergara Technologies LLC</p>
  <p class="tiny">Price data provided by CoinGecko API</p>
</div>
