<div  class='itemDataTitle'>Delete Item</div>

<div class='container' style="margin-top: 20px;">
	<mat-dialog-content >

		<span style="line-height: 10px;"></span>

		<mat-dialog-content>
			<p class="text">Are you sure you want to delete "{{item.name}}"?</p>
		</mat-dialog-content>

	</mat-dialog-content>

	<div style="display: flex;
				justify-content: space-between;">
		<button mat-raised-button class="text" (click)="close()">Close</button>
		<button mat-raised-button class="text" color="primary" (click)="save()">Delete</button>
	</div>	
		
</div>