<div class="container" style="margin-top: 10px;">

	<div class="invoice" >
		Send the invoice link to your client:
	</div>

	<table style="width:100%;
				  margin-top: 10px;">
		<thead style="width: 100%;">
			<tr>
				<th class="urlLabel"
				    style="text-align: left;" 
				    width="94%">Invoice URL:
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<td class="urlDetail" 
			    style="text-align: left;" 
			    width="94%">
			    <div>
					<textarea
					    style="border: none;
					    	   outline: none;
					    	   width: 95%;"
				        cdkTextareaAutosize
				        cdkAutosizeMinRows="1"
				        cdkAutosizeMaxRows="4">{{ invoiceUrl }}
					</textarea>
				</div>

			</td>
			<td class="urlCopyBtn">
		        <a (click)='copyUrl()' >	
				   <fa-icon [icon]="faCopy" 
				            class="copy-button">
				   </fa-icon>
			   </a>
			</td>
			
		</tbody>
	</table>

	<mat-dialog-actions>
		<table cellspacing="0" width="100%">
			<tr>
				<td>
					<button mat-raised-button 
							class="text" 
							color="primary" (click)="confirm()">
						<mat-icon class="icon">verified_user</mat-icon>Sent!
					</button>
				</td>
				<td align="right">
					<button mat-raised-button class="text" (click)="close()">
						<mat-icon class="icon">close</mat-icon>Cancel
					</button>
				</td>
			</tr>
		</table>

	</mat-dialog-actions>
</div>
