
.notifier {
	font-family: 'Spartan', sans-serif;
	color: black;
	font-size: 16px;
	text-align: center;
}

.notifier-type {
	border: 2px solid;
	border-color: lightcoral;
	background: #ff5722; 
	font-size: 26px;
	font-weight: 700;
	height: 30px;
	color: white;
	justify-content: center;
	text-align: center;
	align-items: center;
	vertical-align: center;
}

::ng-deep .mat-snack-bar-container.error {
	background: navajowhite; 
	color: red;
}

::ng-deep .mat-snack-bar-container.success {
	background: whitesmoke; 
	color: black;
}

::ng-deep .mat-snack-bar-container.warning {
	background: antiquewhite; 
	color: black;
	
}
