/* You can add global styles to this file, and also import other style files */

/*@import '@angular/material/prebuilt-themes/indigo-pink.css';*/

/*@use '@angular/material' as mat;*/

/*@include mat.core();*/

/*$my-primary: mat.define-palette(mat.$deep-orange-palette, 600);*/
/*$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);*/

/*$my-theme: mat.define-light-theme((*/
	/*color: (*/
		/*primary: $my-primary,*/
		/*accent: $my-accent*/
		/*)*/
		/*)*/
		/*);*/

/*@include mat.all-component-themes($my-theme);*/
@import './custom-theme.scss';

html, body { height: 100%; }
body {
	margin: 0;
	font-family: 'Spartan', sans-serif;
}

