* {
	font-family: 'Spartan', sans-serif;
}

.settings-title {
	font-family: 'Spartan', sans-serif;
	background: #ff5722;
	color: white;
	font-size: 30px;
	text-align: center;
	padding: 5px;
}

.settings_field {
	width:  100%;
	font-family: 'Spartan', sans-serif;
}

.settings_toggle {
	font-size:  12px;
}

.mat-slide-toggle-content {
	font-family: 'Spartan', sans-serif;
}

.full-width {
  width: 100%;
}

.urlLabel {
	font-family: "Spartan";
	font-size: 13px;
	color: dimgray;
}

.urlDetail {
	font-family: "Spartan";
	font-size: 10px;
	color: black;
}

.urlCopyBtn {
	cursor:  pointer;
	color: dodgerblue;
}


